.main-header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background-color: rgb(44, 32, 78);
    color: aliceblue;
}
.inner-box{
    width: 40%;
    height: 40%;
    background-color: rgb(45, 39, 60);
    display: flex;
    flex-direction: column;
    
}
.header{
    background-color: rgb(236, 112, 98);
    display: flex;
    align-items: center;
    column-gap: 60px;

}
.images{
    margin-left: 2rem;
    display: flex;
    

}
.names-and-text{
    display: flex;
    flex-direction: column;
}
.names{
    margin: 0;
    padding: 0;
    display: flex;
}
.image-1{
    /* background-color: brown; */
    background-color: none;
    margin-right: -1rem;
    width:70px;
    height: 70px;
    background-image: url('https://is3-ssl.mzstatic.com/image/thumb/Purple111/v4/0f/7a/7e/0f7a7ea6-0fc6-eddc-f08c-694f3a6a214e/source/256x256bb.jpg');
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 100%;
    border: 2px solid #ffff;
}
.image-2{
    
    /* background-color: brown; */
    border: 2px solid #ffff;

    width:70px;
    height: 70px;
    
    background-image: url('https://is3-ssl.mzstatic.com/image/thumb/Purple111/v4/0f/7a/7e/0f7a7ea6-0fc6-eddc-f08c-694f3a6a214e/source/256x256bb.jpg');
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 100%;
}
.image-3{
    /* background-color: brown; */
    border: 2px solid #ffff;
    margin-left: -1rem;
    width:70px;
    height: 70px;
    background-image: url('https://is3-ssl.mzstatic.com/image/thumb/Purple111/v4/0f/7a/7e/0f7a7ea6-0fc6-eddc-f08c-694f3a6a214e/source/256x256bb.jpg');
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 100%; 
}
.text{
    padding-bottom: 1rem;
}
.image-message{
    background-color: none;
    margin-right: -1rem;
    margin-bottom: 2rem;
    width:70px;
    height: 70px;
    background-image: url('https://is3-ssl.mzstatic.com/image/thumb/Purple111/v4/0f/7a/7e/0f7a7ea6-0fc6-eddc-f08c-694f3a6a214e/source/256x256bb.jpg');
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 100%;
    border: 2px solid #ffff;

}
.message-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
}
.message-text-box{
    border-radius: 10px;

    background-color: hwb(0 44% 56%);

    width: 70%;
    height: 80%;
}
.cross-simbol{
    align-self: end;
    margin-right: 3rem;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    margin-top: 1rem;
    background-color: rgb(236, 112, 98);

}
.meaasges-input{
    width: 100%;
    display: flex;
    justify-content: center;
}
input{
    height: 50px;
    border-radius: 10px;
    width: 27rem;
    margin-left: 9rem;
    border: 1px solid red;
}
button{
    width: 64px;
    margin-left: -2rem;
    border: none;
    border: 1px solid red;
    border-radius: 10px;

}
.message-text-box p {
    
   margin-left: 1rem;
}
